@model Nivel

@{
    ViewData["Title"] = "Detalhes do Nível";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row text-center" style="background-color: #F39F0B">
        <div class="col-md-12" style="margin-top: 10px;">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
</div>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr class="d-flex">
            <th scope="col" class="col-md-11">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th scope="col" class="col-md-1 text-center">
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        <tr scope="row" class="d-flex">
            <td class="col-md-11">
                @Html.DisplayFor(model => model.Nome)
            </td>
            <td class="col-md-1">
                <div class="row">
                    <div class="col-md-4 text-center" style="padding: 0 20px;">
                        <a asp-action="Edit" asp-route-id="@Model.Id"><i style="font-size: 14pt;" class="fas fa-edit text-warning" title="Editar"></i></a>
                    </div>
                    <div class="col-md-4 text-center" style="padding: 0 20px;">
                        <a asp-action="Index"><i style="font-size: 14pt;" class="fas fa-arrow-circle-left text-secondary" title="Voltar"></i></a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
