@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueci Minha Senha";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-bt">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/fe/assets/images/logomarca-1.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link href="~/fe/LoginRegister/css/style.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form asp-controller="Account" asp-action="ForgotPassword" id="forgotPassword" method="post" class="sign-in-form" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed" data-ajax-failure="failed">
                    <div asp-validation-summary="ModelOnly" data-valmsg-for="ModelOnly" class="text-danger"></div>
                    <h2 class="title">Esqueci Minha Senha</h2>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input asp-for="Email" id="Email" name="Email" />
                    </div>
                    <span asp-validation-for="Email" data-valmsg-for="Email" class="text-danger"></span>
                    <input type="submit" value="Enviar" id="btn-enviar" class="btn solid" />
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Não recebeu o E-mail ?</h3>
                    <p>
                        Se você não recebeu o E-mail clique no botão abaixo para que seja enviado novamente!
                    </p>
                    <button class="btn transparent" id="resend-btn">
                        Reenviar
                    </button>
                </div>
                <img src="~/fe/LoginRegister/img/forgotPassword.svg" class="image" />
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script type="text/javascript">
        const resend_btn = document.querySelector('#resend-btn');
        const email = document.querySelector('#Email');
        const btn_enviar = document.querySelector('#btn-enviar')

        resend_btn.addEventListener("click", () => {
            if (email.value != "" && email.value != undefined) {
                btn_enviar.click();
            }
            else {
                swal({
                    title: "Problemas ao Reenviar!",
                    text: "Informe seu E-Mail para poder redefinr sua senha!",
                    icon: "error",
                    button: "OK"
                }).then(function () {
                    email.focus();
                });
            }
        });

        completed = function (xhr) {
            if (xhr.responseJSON == 1) {
                swal({
                    title: "Usuário não Encontrado!",
                    text: "Verifique se o e-mail fornecido é aquele que você se cadastrou neste site!",
                    icon: "error",
                    button: "OK"
                });
            }

            if (xhr.responseJSON == 2) {
                swal({
                    title: "E-Mail Enviado com Sucesso!",
                    text: "Verifique seu e-mail, pois foi enviado como redefinir sua senha!",
                    icon: "success",
                    button: "OK"
                });
            }

            if (xhr.responseJSON.success == false) {
                swal({
                    title: "Problemas ao Enviar!",
                    text: "Ocorreu um problema no envio de seus dados! Por favor, tente novamente em alguns instante!",
                    icon: "error",
                    button: "OK"
                });
            }
        }
        failed = function (xhr) {
            swal({
                title: "Problemas ao Enviar!",
                text: "Ocorreu um problema no envio de seu E-Mail! Por favor, tente novamente em alguns instante!",
                icon: "warning",
                button: "OK"
            });
        }
    </script>
</body>

</html>