@model ResetPasswordModel
@{
    ViewData["Title"] = "Definir Nova Senha";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-bt">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/fe/assets/images/logomarca-1.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link href="~/fe/LoginRegister/css/style.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="container sign-up-mode">
        <div class="forms-container">
            <div class="signin-signup">
                <form asp-controller="Account" asp-action="ResetPassword" method="post" class="sign-up-form" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed" data-ajax-failure="failed">
                    <div asp-validation-summary="ModelOnly" data-valmsg-for="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="Token" />
                    <h2 class="title">Definir Nova Senha</h2>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input asp-for="Senha" id="Senha" name="Senha" />
                    </div>
                    <span asp-validation-for="Senha" data-valmsg-for="Senha" class="text-danger"></span>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input asp-for="ConfirmacaoSenha" id="ConfirmacaoSenha" name="ConfirmacaoSenha" />
                    </div>
                    <span asp-validation-for="ConfirmacaoSenha" data-valmsg-for="ConfirmacaoSenha" class="text-danger"></span>
                    <input type="submit" class="btn" value="Redefinir" />
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Já Redefini minha senha ?</h3>
                    <p>
                        Se você já redefiniu sua senha clique no botão abaixo para entrar em sua conta!
                    </p>
                    <button class="btn transparent" id="login-btn">
                        Entrar
                    </button>
                </div>
                <img src="~/fe/LoginRegister/img/resetPassword.svg" class="image" />
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script type="text/javascript">
        const login_btn = document.querySelector("#login-btn");

        login_btn.addEventListener("click", () => {
            window.location.href = '@Url.Action("LoginRegister", "Account")';
        });

        completed = function (xhr) {
            if (xhr.responseJSON == 1) {
                swal({
                    title: "Usuário não Encontrado!",
                    text: "Verifique se o e-mail fornecido é aquele que você se cadastrou neste site!",
                    icon: "error",
                    button: "OK"
                });
            }

            if (xhr.responseJSON.data == 2) {
                swal({
                    title: "Erro",
                    text: "" + xhr.responseJSON.erro,
                    icon: "error",
                    button: "OK"
                });
            }

            if (xhr.responseJSON == 3) {
                swal({
                    title: "Senha Alterada Com Sucesso!",
                    text: "Você já pode já pode acessar sua conta e continuar de onde parou!",
                    icon: "success",
                    button: "OK"
                });
            }

            if (xhr.responseJSON.success == false) {
                swal({
                    title: "Problemas ao Enviar!",
                    text: "Ocorreu um problema no envio de seus dados! Por favor, tente novamente em alguns instante!",
                    icon: "error",
                    button: "OK"
                });
            }
        }
        failed = function (xhr) {
            swal({
                title: "Problemas ao Enviar!",
                text: "Ocorreu um problema no envio de sua mensagem! Por favor, tente novamente em alguns instante!",
                icon: "warning",
                button: "OK"
            });
        }
    </script>
</body>

</html>