@model IEnumerable<Nivel>

@foreach (var item in Model)
{
    <a class="text-white dropdown-item display-4" asp-controller="Home" asp-action="Pratique" asp-route-id="@item.Id">
        @item.Nome
    </a>
}